<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <form action="/auth" method="post" style="margin-top: 50px;">
        <h1>Iniciar Sesión</h1>
        <label>Correo:</label>
        <input type="email" name="email" required>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
        <button type="submit">Ingresar</button>
        <p><a href="/register">Regístrate aquí</a></p>
    </form>
</body>
</html>