<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <form action="/register" method="post" style="margin-top: 50px;">
        <h1>Registro de Usuario</h1>
        
        <label>Nombre del Usuario:</label> <input type="text" name="name" required>

        <label>Correo:</label>
        <input type="email" name="email" required>
        
        <label>Contraseña:</label>
        <input type="password" name="password" required>
        
        <button type="submit" style="background-color: #3498db;">Registrarse</button>
        <p><a href="/login">Iniciar Sesión</a></p>
    </form>
</body>
</html>